openapi: 3.0.0
info:
  title: CRM
  version: 1.0.0
servers:
  - url: https://api.user.lipigo.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    noauthAuth:
      type: http
      scheme: noauth
tags:
  - name: User
    description: "## User Operations related API's"
  - name: User > Slots
  - name: User > Targets
  - name: Team
    description: "## User Operations related API's"
  - name: Ansillary-config
    description: "## User Operations related API's"
  - name: Designations-coach/emp config
    description: "## User Operations related API's"
  - name: Membership-config
    description: "## User Operations related API's"
  - name: Diet-config
    description: "## User Operations related API's"
  - name: Asset
    description: "## User Operations related API's"
  - name: Branch
    description: "## User Operations related API's"
  - name: Package
    description: "## User Operations related API's"
  - name: Role
  - name: Parq
  - name: Fitness Assessment
  - name: Leaves
  - name: Widget
  - name: Lead
  - name: Social App
  - name: Social Post
  - name: Payment
  - name: Exercise
  - name: Vitals
  - name: Tracker
  - name: Diet Plan
  - name: Exercise plan
  - name: webhooks
paths:
  /api/v1/user/slot:
    get:
      tags:
        - User > Slots
      summary: Get User Slot List
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: user
          in: query
          schema:
            type: string
          example: 65435df0e962542d79b7d2ef
        - name: day
          in: query
          schema:
            type: string
          example: TUESDAY
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - User > Slots
      summary: Create User slot
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                from: "02:00"
                to: "03:00"
                day: MONDAY
                user: 65435df0e962542d79b7d2ef
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/slot/{id}:
    delete:
      tags:
        - User > Slots
      summary: Delete Slot
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 65476500a3e6d9e5654c13f3
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/target/{userId}:
    get:
      tags:
        - User > Targets
      summary: Get User target
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: userId
          in: path
          schema:
            type: string
          required: true
          example: 65435df0e962542d79b7d2ef
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - User > Targets
      summary: Update target
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                modelPermissions:
                  Asset:
                    - Read
                    - Write
                    - Edit
                    - Remove
                  Category:
                    - Read
                    - Write
                    - Edit
                    - Remove
                  Epaper:
                    - Read
                    - Write
                    - Edit
                    - Remove
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: userId
          in: path
          schema:
            type: string
          required: true
          example: 65435df0e962542d79b7d2ef
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/target:
    post:
      tags:
        - User > Targets
      summary: Create Target
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                target: 120000
                commissions:
                  - category: 1-3
                    value: "15"
                  - category: 4-7
                    value: "25"
                  - category: 8-10
                    value: "35"
                  - category: ">10"
                    value: "50"
                user: 65435df0e962542d79b7d2ef
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1//user/me:
    get:
      tags:
        - User
      summary: Me
      description: Get LoggedIn User Information
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: image
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - User
      summary: Patch me
      description: Get LoggedIn User Information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: ""
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/{id}/teams:
    get:
      tags:
        - User
      summary: My Teams
      description: Get LoggedIn User Information
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: teamId
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 648b521aa4b96fba401156b8
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/generate/bca/{id}:
    post:
      tags:
        - User
      summary: Generate BCA
      description: Get LoggedIn User Information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: ""
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 653a998543998c3f1a6cebef
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/bca/{id}:
    get:
      tags:
        - User
      summary: Get BCA
      description: Get LoggedIn User Information
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: this field is optional for the user but mandatory for the trainer
          example: 653a998543998c3f1a6cebef
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user:
    get:
      tags:
        - User
      summary: Get List of users
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: teams,roles_f=name,branch_f=name,image
        - name: search
          in: query
          schema:
            type: string
          example: rajesh
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - User
      summary: Create User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                password: password
                confirmPassword: password
                phone: "9874563210"
                altPhone: "8874563210"
                height: 6'5''
                weight: "90"
                branch: 648b537f062978bb147b0556
                reference: Linkedin
                gender: M
                firstName: App
                lastName: User
                email: rajesh@gmail.com
                state: delhi
                city: delhi
                designation: 653b9fb52619321c25d76ee7
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - User
      summary: Update user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                _id: 653a998543998c3f1a6cebef
                goal:
                  water: 16
                  steps: 2000
                  calories: 2500
                  weight: 60
                  exercise: 120
                workoutFreq: 3 times
                foodPreference: Veg
                bodyFat: 35%
                dateOfBirth: "2001-01-01"
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/client/{userId}:
    get:
      tags:
        - User
      summary: Get client List
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/dashboard/{id}:
    get:
      tags:
        - User
      summary: User Dashboard
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: month
          in: query
          schema:
            type: string
          example: 2024-06
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 654c8fc7891c27495d9a7d84
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/dashboard:
    get:
      tags:
        - User
      summary: My Dashboard
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: month
          in: query
          schema:
            type: string
          example: 2024-06
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/member:
    post:
      tags:
        - User
      summary: Create Member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                password: password
                confirmPassword: password
                phone: "9874563210"
                altPhone: "8874563210"
                height: 6'5''
                weight: "90"
                branch: 648b537f062978bb147b0556
                gender: M
                firstName: App
                lastName: User
                email: rajesh@gmail.com
                state: delhi
                city: delhi
                designation: 653b9fb52619321c25d76ee7
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - User
      summary: Update member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                _id: 653a998543998c3f1a6cebef
                transformation:
                  description: Some dtail
                  details:
                    - asset: 64eb82c5491dd86ed6fe633d
                      timeline: Before
                      feature: Front
                    - asset: 64eb82c5491dd86ed6fe633d
                      timeline: Before
                      feature: Lateral
                    - asset: 64eb82c5491dd86ed6fe633d
                      timeline: Before
                      feature: Back
                    - asset: 64eb82c5491dd86ed6fe633d
                      timeline: After
                      feature: Front
                    - asset: 64eb82c5491dd86ed6fe633d
                      timeline: After
                      feature: Lateral
                    - asset: 64eb82c5491dd86ed6fe633d
                      timeline: After
                      feature: Back
                measurements:
                  - bodyPart: Chest
                    value: "80"
                  - bodyPart: Waist
                    value: "34"
                  - bodyPart: UpperAbdomen
                    value: "38"
                  - bodyPart: LowerAbdomen
                    value: "34"
                  - bodyPart: RightArm
                    value: "15.3"
                  - bodyPart: LeftArm
                    value: "15"
                  - bodyPart: Hip
                    value: "42"
                  - bodyPart: RightThigh
                    value: "30"
                  - bodyPart: LeftThigh
                    value: "30"
                  - bodyPart: RightCalves
                    value: "12"
                  - bodyPart: LeftCalves
                    value: "11.8"
                bca:
                  leanMuscles: 120
                  bmi: 50
                  bmr: 445
                  fat: 4545
                  water: 4
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/me:
    patch:
      tags:
        - User
      summary: Update user me
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                goal:
                  water: 16
                  steps: 2000
                  calories: 2500
                  weight: 60
                  exercise: 120
                workoutFreq: 3 times
                foodPreference: Veg
                bodyFat: 35%
                dateOfBirth: "2001-01-01"
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/{id}:
    get:
      tags:
        - User
      summary: Get User by id
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 648c1e9451e17ccf98398b2e
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/change-password:
    post:
      tags:
        - User
      summary: Change password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                currentPassword: password@123
                newPassword: password
                confirmPassword: password
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/reset-password-mail:
    post:
      tags:
        - User
      summary: send reset password email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: rajeshupadhayaya@gmail.com
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/reset-password:
    post:
      tags:
        - User
      summary: reset password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                token: >-
                  373be7fb8f61f11d2df8726e2cf29497:dfc80dd03101d8f51a6ef3a13f68c041452bb36999893a46e973a09bb55fd509c82f7fff80ba6eda42bc18f81fb6a18a
                password: "123456"
                confirmPassword: "123456"
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/team:
    get:
      tags:
        - Team
      summary: Get List of team
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: manager_f=name, user_f=name
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/team/:
    post:
      tags:
        - Team
      summary: Create Team
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Super Duper Team 1
                description: Hey enjoy
                image: 64eb82c5491dd86ed6fe633d
                manager: 648b521aa4b96fba401156b8
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/team/{id}:
    patch:
      tags:
        - Team
      summary: Update team
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Super Duper Team
                description: Hey enjoy
                users:
                  - user: 648b521aa4b96fba401156b8
                    isAdmin: true
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64a6f8a33a45df5ca9ca1cb5
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Team
      summary: Get Team by id
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: image_f=url,users:user
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "437"
            ETag:
              schema:
                type: string
                example: W/"1b5-U4eRlTVYBo9jp0UIIvK1YA/latM"
            Date:
              schema:
                type: string
                example: Mon, 04 Sep 2023 11:57:48 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  _id: 64f5c5b240607fe2e6fdd94f
                  user: 648b521aa4b96fba401156b8
                  name: Super Duper Team 1
                  image:
                    _id: 64eb82c5491dd86ed6fe633d
                    url: >-
                      https://crm-crmlocalhost.s3.ap-south-1.amazonaws.com/full/28cfd432-3932-41e0-bd24-118891efa830.png
                  manager: 648b521aa4b96fba401156b8
                  description: Hey enjoy
                  isPublic: "false"
                  users: []
                  slug: super-duper-team-1
                  __v: 0
                status: Ok
                message:
                  code: TeamDetailSuccess
  /api/v1/team/{id}/user:
    post:
      tags:
        - Team
      summary: Add user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                teamId: 64a7b97e8ef1996de573b7e3
                user: 648b521aa4b96fba401156b8
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64a7b97e8ef1996de573b7e3
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Team
      summary: Get Team User List
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: user_f=name|image
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64a7b97e8ef1996de573b7e3
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/team/{id}/user/{teamUserId}:
    delete:
      tags:
        - Team
      summary: Delete User From Team
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64a7b97e8ef1996de573b7e3
        - name: teamUserId
          in: path
          schema:
            type: string
          required: true
          example: 64fa1d090c4b80a0e9ee8bca
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/ansillary:
    get:
      tags:
        - Ansillary-config
      summary: Get List of ansillary
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Ansillary-config
      summary: Create Ansillary
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Dance
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/ansillary/{id}:
    patch:
      tags:
        - Ansillary-config
      summary: Update Ansillary
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Super Zumba
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Ansillary-config
      summary: Delete ansillary
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/designation:
    get:
      tags:
        - Designations-coach/emp config
      summary: Get List of designation
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: type
          in: query
          schema:
            type: string
          description: "Accepted values: Coach | Employee"
          example: Coach
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Designations-coach/emp config
      summary: Create Emp Designation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Manager
                type: Employee
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/designation/{id}:
    patch:
      tags:
        - Designations-coach/emp config
      summary: Update designation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Super Zumba
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Designations-coach/emp config
      summary: Delete Designation
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/membership:
    get:
      tags:
        - Membership-config
      summary: Get List of membership plan
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "404"
            ETag:
              schema:
                type: string
                example: W/"194-QwkIpFWCfYwHcurXzmcauUPysPE"
            Date:
              schema:
                type: string
                example: Sun, 03 Sep 2023 11:28:30 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 64f46dd37718788baf6848ed
                      user: 648b521aa4b96fba401156b8
                      name: Super Duper Team
                      description: Hey enjoy
                      packages:
                        - name: Gym Membership
                          selected: true
                          _id: 64f46dd37718788baf6848ee
                        - name: Group Classes
                          selected: false
                          _id: 64f46dd37718788baf6848ef
                      slug: super-duper-team
                      __v: 0
                  total: 1
                status: Ok
                message:
                  code: MembershipListSuccess
    post:
      tags:
        - Membership-config
      summary: Create Membership
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Super Duper Team
                description: Hey enjoy
                packages:
                  - name: Gym Membership
                    selected: true
                  - name: Group Classes
                    selected: false
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "385"
            ETag:
              schema:
                type: string
                example: W/"181-CsNva7MKkMLeSyNixoZiB9JfQSc"
            Date:
              schema:
                type: string
                example: Sun, 03 Sep 2023 11:28:20 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  user: 648b521aa4b96fba401156b8
                  name: Super Duper Team
                  description: Hey enjoy
                  packages:
                    - name: Gym Membership
                      selected: true
                      _id: 64f46dd37718788baf6848ee
                    - name: Group Classes
                      selected: false
                      _id: 64f46dd37718788baf6848ef
                  _id: 64f46dd37718788baf6848ed
                  slug: super-duper-team
                  __v: 0
                status: Ok
                message:
                  code: MembershipCreateSuccess
  /api/v1/config/membership/{id}:
    patch:
      tags:
        - Membership-config
      summary: Update membership
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Gym Membership
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64f46dd37718788baf6848ed
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Membership-config
      summary: Delete membership
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/diet:
    get:
      tags:
        - Diet-config
      summary: Get List Diets
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "658"
            ETag:
              schema:
                type: string
                example: W/"292-W7Aqc5Pk7NKLiqJWa9KsYTs2644"
            Date:
              schema:
                type: string
                example: Sun, 15 Oct 2023 06:11:23 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 652b827c2df527f87c10a349
                      user: 648b521aa4b96fba401156b8
                      name: Whole Wheat Bread
                      foodType: BreadAndCereal
                      mealType: BreakFast
                      description: Enjoy bread meal
                      serving:
                        amount: "1"
                        unit: cup
                      nutritians:
                        - name: Fat
                          value: "1.1"
                          unit: g
                          _id: 652b827c2df527f87c10a34a
                        - name: Protein
                          value: "1.5"
                          unit: g
                          _id: 652b827c2df527f87c10a34b
                        - name: Carbohyderates
                          value: "2.1"
                          unit: g
                          _id: 652b827c2df527f87c10a34c
                        - name: Energy
                          value: "1.1"
                          unit: g
                          _id: 652b827c2df527f87c10a34d
                      slug: whole-wheat-bread
                      __v: 0
                  total: 1
                status: Ok
                message:
                  code: DietListSuccess
    post:
      tags:
        - Diet-config
      summary: Create Diet
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Rice
                foodType: PastaRiceAndNoodle
                mealType: Dinner
                description: Enjoy rice meal
                serving:
                  amount: 100
                  unit: g
                nutritians:
                  - name: Fat
                    value: 1.1
                    unit: g
                  - name: Protein
                    value: 1.5
                    unit: g
                  - name: Carbohyderates
                    value: 2.1
                    unit: g
                  - name: Energy
                    value: 1.1
                    unit: g
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "639"
            ETag:
              schema:
                type: string
                example: W/"27f-ghjKDw8kTLy5sZa8HlfuCPxHbJg"
            Date:
              schema:
                type: string
                example: Sun, 15 Oct 2023 06:11:08 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  user: 648b521aa4b96fba401156b8
                  name: Whole Wheat Bread
                  foodType: BreadAndCereal
                  mealType: BreakFast
                  description: Enjoy bread meal
                  serving:
                    amount: "1"
                    unit: cup
                  nutritians:
                    - name: Fat
                      value: "1.1"
                      unit: g
                      _id: 652b827c2df527f87c10a34a
                    - name: Protein
                      value: "1.5"
                      unit: g
                      _id: 652b827c2df527f87c10a34b
                    - name: Carbohyderates
                      value: "2.1"
                      unit: g
                      _id: 652b827c2df527f87c10a34c
                    - name: Energy
                      value: "1.1"
                      unit: g
                      _id: 652b827c2df527f87c10a34d
                  _id: 652b827c2df527f87c10a349
                  slug: whole-wheat-bread
                  __v: 0
                status: Ok
                message:
                  code: DietCreateSuccess
  /api/v1/config/diet/upload:
    post:
      tags:
        - Diet-config
      summary: Upload file
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                fileId: 65390cd39d6be2f3e79c8cf4
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/config/diet/{id}:
    patch:
      tags:
        - Diet-config
      summary: Update diet
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Rice
                foodType: BreadAndCereal
                mealType: BreakFast
                description: Enjoy rice meal
                serving:
                  amount: 100
                  unit: g
                nutritians:
                  - name: Fat
                    value: 1.1
                    unit: g
                  - name: Protein
                    value: 1.5
                    unit: g
                  - name: Carbohyderates
                    value: 2.1
                    unit: g
                  - name: Energy
                    value: 1.1
                    unit: g
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 652b827c2df527f87c10a349
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Diet-config
      summary: Delete diet
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 652b827c2df527f87c10a349
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/asset/upload:
    post:
      tags:
        - Asset
      summary: Create Asset
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "397"
            ETag:
              schema:
                type: string
                example: W/"18d-UwxiHcf2yIaTbIlQt7cAFOBqIa0"
            Date:
              schema:
                type: string
                example: Sun, 27 Aug 2023 17:07:18 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  key: 28cfd432-3932-41e0-bd24-118891efa830.png
                  name: python.png
                  type: public
                  mimetype: image/png
                  url: >-
                    https://crm-crmlocalhost.s3.ap-south-1.amazonaws.com/full/28cfd432-3932-41e0-bd24-118891efa830.png
                  _id: 64eb82c5491dd86ed6fe633d
                  createdAt: "2023-08-27T17:07:17.987Z"
                  updatedAt: "2023-08-27T17:07:17.987Z"
                status: Ok
                message:
                  code: AssetSuccessfullyUploaded
  /api/v1/asset/{id}:
    get:
      tags:
        - Asset
      summary: Get Asset by id
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb82c5491dd86ed6fe633d
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/branch:
    get:
      tags:
        - Branch
      summary: Get List of branch
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: status
          in: query
          schema:
            type: string
          example: ACTIVE
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/branch/list:
    get:
      tags:
        - Branch
      summary: Get List of branch for members
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/branch/:
    post:
      tags:
        - Branch
      summary: Create Branch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Branch 1
                mobile: "9874563210"
                email: test@gmail.com
                gstName: Test Gym
                gstNumber: D4545AAsfas
                address: Test address
                city: Delhi
                pincode: "5454"
                logo: 64eb82c5491dd86ed6fe633d
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/branch/{id}:
    patch:
      tags:
        - Branch
      summary: Update branch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                pincode: "545431"
                gymCenterType: COFO
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 6508be70bef2751cf90736e2
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Branch
      summary: Get Branch by id
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb8331bff45463b300eb0d
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "1316"
            ETag:
              schema:
                type: string
                example: W/"524-3X2W4E0g1dm1A1d3+BHh79Wc4wY"
            Date:
              schema:
                type: string
                example: Sun, 27 Aug 2023 17:34:41 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  _id: 64eb8331bff45463b300eb0d
                  user: 648b521aa4b96fba401156b8
                  name: Gym Branch 1
                  mobile: "9874563210"
                  email: test@gmail.com
                  gstName: Test Gym
                  gstNumber: D4545AAsfas
                  address: Test address
                  city: Delhi
                  pincode: "5454"
                  logo: 64eb82c5491dd86ed6fe633d
                  status: Active
                  slug: gym-branch-1
                  __v: 0
                  timings:
                    - _id: 64eb891f9ddab1d1dfc67847
                      branchId: 64eb8331bff45463b300eb0d
                      day: mon
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                    - _id: 64eb891f9ddab1d1dfc67846
                      branchId: 64eb8331bff45463b300eb0d
                      day: sun
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                    - _id: 64eb891f9ddab1d1dfc67849
                      branchId: 64eb8331bff45463b300eb0d
                      day: wed
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                    - _id: 64eb891f9ddab1d1dfc6784a
                      branchId: 64eb8331bff45463b300eb0d
                      day: thu
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                    - _id: 64eb891f9ddab1d1dfc67848
                      branchId: 64eb8331bff45463b300eb0d
                      day: tue
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                    - _id: 64eb891f9ddab1d1dfc6784b
                      branchId: 64eb8331bff45463b300eb0d
                      day: fri
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                    - _id: 64eb891f9ddab1d1dfc6784c
                      branchId: 64eb8331bff45463b300eb0d
                      day: sat
                      startTime: "09:00"
                      endTime: "10:00"
                      __v: 0
                status: Ok
                message:
                  code: BranchDetailSuccess
  /api/v1/branch/timing/{id}:
    post:
      tags:
        - Branch
      summary: Add Timings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                days:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  - 7
                startTime: "09:00"
                endTime: "10:00"
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb8331bff45463b300eb0d
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "960"
            ETag:
              schema:
                type: string
                example: W/"3c0-+uHJ6Iy7Se11Qg82TrHaX1jPvCU"
            Date:
              schema:
                type: string
                example: Sun, 27 Aug 2023 17:50:47 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 1
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f17955
                    __v: 0
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 2
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f17956
                    __v: 0
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 3
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f17957
                    __v: 0
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 4
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f17958
                    __v: 0
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 5
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f17959
                    __v: 0
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 6
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f1795a
                    __v: 0
                  - branchId: 64eb8331bff45463b300eb0d
                    day: 7
                    startTime: "09:00"
                    endTime: "10:00"
                    _id: 64eb8cf7a9f68cfac2f1795b
                    __v: 0
                status: Ok
                message:
                  code: BranchTimingCreateSuccess
    get:
      tags:
        - Branch
      summary: Get Timings
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb8331bff45463b300eb0d
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/branch/timing/{id}/{timingId}:
    patch:
      tags:
        - Branch
      summary: Update Timing
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                day: 1
                startTime: "10:00"
                endTime: "11:00"
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb8331bff45463b300eb0d
        - name: timingId
          in: path
          schema:
            type: string
          required: true
          example: 64eb8cf7a9f68cfac2f17955
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Branch
      summary: Delete Social Media
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb8331bff45463b300eb0d
        - name: timingId
          in: path
          schema:
            type: string
          required: true
          example: 64eb8cf7a9f68cfac2f17957
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/branch/timing/{id}/:
    delete:
      tags:
        - Branch
      summary: Delete All Timings
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64eb8331bff45463b300eb0d
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/package:
    get:
      tags:
        - Package
      summary: Get List of package
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: packageType
          in: query
          schema:
            type: string
          description: GymMembership | Ancillary
          example: GymMembership
        - name: populate
          in: query
          schema:
            type: string
          example: images,branches_f=name
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "525"
            ETag:
              schema:
                type: string
                example: W/"20d-iPJFQ9WG5tYnTX9r5wp73j9+l7Y"
            Date:
              schema:
                type: string
                example: Fri, 01 Sep 2023 18:44:00 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 64f230e3615eabc2fa625a6d
                      user: 648b521aa4b96fba401156b8
                      name: Package 1
                      description: Some Test Package
                      trial: false
                      fees: 10000
                      discountedFees: 7000
                      packageType: GymMembership
                      paymentType: OneTime
                      status: Active
                      sessions:
                        - count: 30
                          name: Gym Sessions
                          _id: 64f230e3615eabc2fa625a6e
                        - count: 6
                          name: Group Sessions
                          days: 20
                          _id: 64f230e3615eabc2fa625a6f
                      images: []
                      slug: package-1
                      __v: 0
                  total: 1
                status: Ok
                message:
                  code: PackageListSuccess
  /api/v1/package/:
    post:
      tags:
        - Package
      summary: Create Package Ansillary
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Ansi Package 1
                description: Some Test Package
                trialDays: 2
                branches:
                  - 64eb8331bff45463b300eb0d
                images:
                  - 64eb82c5491dd86ed6fe633d
                noOfSession: 12
                perSessionDuration: 90
                fees: 10000
                discountedFees: 7000
                packageType: Ancillary
                ansillaryId: 64f45f2bc131246b9df544d6
                duration:
                  years: 0
                  months: 12
                  days: 0
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "542"
            ETag:
              schema:
                type: string
                example: W/"21e-K45bLBXRwH9XawUXvCfGbLLS7r4"
            Date:
              schema:
                type: string
                example: Sun, 03 Sep 2023 12:11:04 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  user: 648b521aa4b96fba401156b8
                  name: Ansi Package 1
                  ansillaryId: 64f45f2bc131246b9df544d6
                  description: Some Test Package
                  trialDays: 2
                  branches:
                    - 64eb8331bff45463b300eb0d
                  fees: 10000
                  discountedFees: 7000
                  noOfSession: 12
                  perSessionDuration: 90
                  packageType: Ancillary
                  status: Active
                  duration:
                    years: 0
                    months: 12
                    days: 0
                  images:
                    - 64eb82c5491dd86ed6fe633d
                  _id: 64f477d870c837ea42919b6d
                  ansillaries: []
                  slug: ansi-package-1-0002
                  __v: 0
                status: Ok
                message:
                  code: PackageCreateSuccess
  /api/v1/package/{id}:
    patch:
      tags:
        - Package
      summary: Update package
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                images:
                  - 64eb82c5491dd86ed6fe633d
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64f230e3615eabc2fa625a6d
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Package
      summary: Get Package by id
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: populate
          in: query
          schema:
            type: string
          example: membershipId,ansillaryId,ansillaries.id
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 6526cc399ea22ccf09d4305c
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/role/{id}:
    get:
      tags:
        - Role
      summary: Get Role Detail
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 648b537f062978bb147b0556
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/role:
    get:
      tags:
        - Role
      summary: Get Role List
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/role/create:
    post:
      tags:
        - Role
      summary: Create Role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: ImageAndUserRole
                modelPermissions:
                  Asset:
                    - Read
                    - Write
                    - Edit
                    - Remove
                  User:
                    - Read
                    - Write
                    - Edit
                    - Remove
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/role//{id}:
    patch:
      tags:
        - Role
      summary: Update Role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                modelPermissions:
                  Asset:
                    - Read
                    - Write
                    - Edit
                    - Remove
                  Category:
                    - Read
                    - Write
                    - Edit
                    - Remove
                  Epaper:
                    - Read
                    - Write
                    - Edit
                    - Remove
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 631b1aaa0f9cc328a27abd69
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/parq/{id}:
    get:
      tags:
        - Parq
      summary: Get all Parq for a member
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 653a998543998c3f1a6cebef
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "2291"
            ETag:
              schema:
                type: string
                example: W/"8f3-eN1pf99CGm0WB/tQh4EPF0tP7R4"
            Date:
              schema:
                type: string
                example: Thu, 30 Nov 2023 05:45:25 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 6568213b23ca505b916d24f7
                      questionBlocks:
                        - title: Occupation & Lifestyle
                          questions:
                            - question: >-
                                Does your occupation require extended periods of
                                sitting?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24f9
                            - question: Does your occupation require repetitive moments?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fa
                            - question: >-
                                Does your occupation cause your any anxiety or
                                stress?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fb
                          _id: 6568213b23ca505b916d24f8
                        - title: PAR-Q (Physical Activity Readiness Questionnaire)
                          subTitle: >-
                            If yes answering to any of the following questions,
                            please explain any limitations on your
                          questions:
                            - question: >-
                                Has a doctor ever said you have heart trouble or
                                a heart condition?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fd
                            - question: >-
                                Has a doctor ever told you that you are
                                diabetic?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fe
                            - question: >-
                                Do you frequently have pain in your heart or
                                chest?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24ff
                          _id: 6568213b23ca505b916d24fc
                      consents:
                        - title: >-
                            If you answered NO honestly to all PAR-Q questions,
                            you have indicated that you are reasonable sure that
                            you can participate in a fitness appraisal and start
                            becoming more physically active. The fact that you
                            answered NO to the above questions is no guarantee
                            that you will have a normal response to exercise or
                            that a fitness regimen will not cause you medical
                            problems.
                          accepted: true
                          _id: 6568213b23ca505b916d2500
                        - title: >-
                            If you answered YES to one or more of the questions
                            above any ward requests written permission from your
                            physician before you may participate in physical and
                            aerobic activities. Tell your doctor about the PAR-Q
                            and which questions you answered YES, If you choose
                            not to get written permission you must acknowledge
                            by the physician to obtain to medical release before
                            beginning an exercise program. You have elected not
                            to do so and assume the risk for any injuries from
                            undertaking and all exercises due to a known medical
                            condition
                          accepted: true
                          _id: 6568213b23ca505b916d2501
                      user: 653a998543998c3f1a6cebef
                      createdAt: "2023-11-30T05:44:27.333Z"
                      updatedAt: "2023-11-30T05:44:27.333Z"
                  total: 1
                status: Ok
                message:
                  code: ParqListSuccess
  /api/v1/parq:
    get:
      tags:
        - Parq
      summary: Get my all Parq
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "2291"
            ETag:
              schema:
                type: string
                example: W/"8f3-eN1pf99CGm0WB/tQh4EPF0tP7R4"
            Date:
              schema:
                type: string
                example: Thu, 30 Nov 2023 05:44:39 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 6568213b23ca505b916d24f7
                      questionBlocks:
                        - title: Occupation & Lifestyle
                          questions:
                            - question: >-
                                Does your occupation require extended periods of
                                sitting?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24f9
                            - question: Does your occupation require repetitive moments?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fa
                            - question: >-
                                Does your occupation cause your any anxiety or
                                stress?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fb
                          _id: 6568213b23ca505b916d24f8
                        - title: PAR-Q (Physical Activity Readiness Questionnaire)
                          subTitle: >-
                            If yes answering to any of the following questions,
                            please explain any limitations on your
                          questions:
                            - question: >-
                                Has a doctor ever said you have heart trouble or
                                a heart condition?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fd
                            - question: >-
                                Has a doctor ever told you that you are
                                diabetic?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24fe
                            - question: >-
                                Do you frequently have pain in your heart or
                                chest?
                              answer: "Yes"
                              _id: 6568213b23ca505b916d24ff
                          _id: 6568213b23ca505b916d24fc
                      consents:
                        - title: >-
                            If you answered NO honestly to all PAR-Q questions,
                            you have indicated that you are reasonable sure that
                            you can participate in a fitness appraisal and start
                            becoming more physically active. The fact that you
                            answered NO to the above questions is no guarantee
                            that you will have a normal response to exercise or
                            that a fitness regimen will not cause you medical
                            problems.
                          accepted: true
                          _id: 6568213b23ca505b916d2500
                        - title: >-
                            If you answered YES to one or more of the questions
                            above any ward requests written permission from your
                            physician before you may participate in physical and
                            aerobic activities. Tell your doctor about the PAR-Q
                            and which questions you answered YES, If you choose
                            not to get written permission you must acknowledge
                            by the physician to obtain to medical release before
                            beginning an exercise program. You have elected not
                            to do so and assume the risk for any injuries from
                            undertaking and all exercises due to a known medical
                            condition
                          accepted: true
                          _id: 6568213b23ca505b916d2501
                      user: 653a998543998c3f1a6cebef
                      createdAt: "2023-11-30T05:44:27.333Z"
                      updatedAt: "2023-11-30T05:44:27.333Z"
                  total: 1
                status: Ok
                message:
                  code: ParqListSuccess
    post:
      tags:
        - Parq
      summary: Create Parq
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                questionBlocks:
                  - title: Occupation & Lifestyle
                    questions:
                      - question: >-
                          Does your occupation require extended periods of
                          sitting?
                        answer: "Yes"
                      - question: Does your occupation require repetitive moments?
                        answer: "Yes"
                      - question: Does your occupation cause your any anxiety or stress?
                        answer: "Yes"
                  - title: PAR-Q (Physical Activity Readiness Questionnaire)
                    subTitle: >-
                      If yes answering to any of the following questions, please
                      explain any limitations on your
                    questions:
                      - question: >-
                          Has a doctor ever said you have heart trouble or a
                          heart condition?
                        answer: "Yes"
                      - question: Has a doctor ever told you that you are diabetic?
                        answer: "Yes"
                      - question: Do you frequently have pain in your heart or chest?
                        answer: "Yes"
                consents:
                  - title: >-
                      If you answered NO honestly to all PAR-Q questions, you
                      have indicated that you are reasonable sure that you can
                      participate in a fitness appraisal and start becoming more
                      physically active. The fact that you answered NO to the
                      above questions is no guarantee that you will have a
                      normal response to exercise or that a fitness regimen will
                      not cause you medical problems.
                    answer: Agree
                    accepted: true
                  - title: >-
                      If you answered YES to one or more of the questions above
                      any ward requests written permission from your physician
                      before you may participate in physical and aerobic
                      activities. Tell your doctor about the PAR-Q and which
                      questions you answered YES, If you choose not to get
                      written permission you must acknowledge by the physician
                      to obtain to medical release before beginning an exercise
                      program. You have elected not to do so and assume the risk
                      for any injuries from undertaking and all exercises due to
                      a known medical condition
                    answer: Acknowledge
                    accepted: true
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/fitness-assessment:
    get:
      tags:
        - Fitness Assessment
      summary: Get my all assessment
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "927"
            ETag:
              schema:
                type: string
                example: W/"39f-pT7ads3HwZRQVKHFf8DOpP+4tis"
            Date:
              schema:
                type: string
                example: Thu, 30 Nov 2023 06:24:24 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 65682a3290aaf5249f37e902
                      addedBy: 65438cf9e962542d79b7e707
                      questionBlocks:
                        - title: Cardio Vascular
                          questions:
                            - question: 3min step test
                              score: "130"
                              remark: Good
                              scoreUnit: Beats/min
                              _id: 65682a3290aaf5249f37e904
                          _id: 65682a3290aaf5249f37e903
                        - title: Muscular endurance
                          questions:
                            - question: Max Pushups
                              score: "130"
                              remark: Good
                              scoreUnit: reps
                              _id: 65682a3290aaf5249f37e906
                            - question: Max Squat
                              score: "130"
                              remark: Good
                              scoreUnit: reps
                              _id: 65682a3290aaf5249f37e907
                            - question: Max Curl up
                              score: "10"
                              remark: Average
                              scoreUnit: reps
                              _id: 65682a3290aaf5249f37e908
                          _id: 65682a3290aaf5249f37e905
                      date: "2023-11-30T00:00:00.000Z"
                      user: 653a998543998c3f1a6cebef
                      createdAt: "2023-11-30T06:22:42.993Z"
                      updatedAt: "2023-11-30T06:22:42.993Z"
                  total: 1
                status: Ok
                message:
                  code: FitnessAssessmentListSuccess
    post:
      tags:
        - Fitness Assessment
      summary: Add fitness-assessment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                questionBlocks:
                  - title: Cardio Vascular
                    questions:
                      - question: 3min step test
                        score: "130"
                        remark: Good
                        scoreUnit: Beats/min
                  - title: Muscular endurance
                    questions:
                      - question: Max Pushups
                        score: "130"
                        remark: Good
                        scoreUnit: reps
                      - question: Max Squat
                        score: "130"
                        remark: Good
                        scoreUnit: reps
                      - question: Max Curl up
                        score: "10"
                        remark: Average
                        scoreUnit: reps
                user: 653a998543998c3f1a6cebef
                date: "2023-11-30"
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "908"
            ETag:
              schema:
                type: string
                example: W/"38c-ruugMiDw25XwpaP2hqINqcudUlE"
            Date:
              schema:
                type: string
                example: Thu, 30 Nov 2023 06:22:43 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  addedBy: 65438cf9e962542d79b7e707
                  questionBlocks:
                    - title: Cardio Vascular
                      questions:
                        - question: 3min step test
                          score: "130"
                          remark: Good
                          scoreUnit: Beats/min
                          _id: 65682a3290aaf5249f37e904
                      _id: 65682a3290aaf5249f37e903
                    - title: Muscular endurance
                      questions:
                        - question: Max Pushups
                          score: "130"
                          remark: Good
                          scoreUnit: reps
                          _id: 65682a3290aaf5249f37e906
                        - question: Max Squat
                          score: "130"
                          remark: Good
                          scoreUnit: reps
                          _id: 65682a3290aaf5249f37e907
                        - question: Max Curl up
                          score: "10"
                          remark: Average
                          scoreUnit: reps
                          _id: 65682a3290aaf5249f37e908
                      _id: 65682a3290aaf5249f37e905
                  date: "2023-11-30T00:00:00.000Z"
                  user: 653a998543998c3f1a6cebef
                  _id: 65682a3290aaf5249f37e902
                  createdAt: "2023-11-30T06:22:42.993Z"
                  updatedAt: "2023-11-30T06:22:42.993Z"
                status: Ok
                message:
                  code: FitnessAssessmentCreateSuccess
  /api/v1/fitness-assessment/{id}:
    get:
      tags:
        - Fitness Assessment
      summary: Get all assessment for a member
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 653a998543998c3f1a6cebef
      responses:
        "200":
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: "927"
            ETag:
              schema:
                type: string
                example: W/"39f-pT7ads3HwZRQVKHFf8DOpP+4tis"
            Date:
              schema:
                type: string
                example: Thu, 30 Nov 2023 06:24:03 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  list:
                    - _id: 65682a3290aaf5249f37e902
                      addedBy: 65438cf9e962542d79b7e707
                      questionBlocks:
                        - title: Cardio Vascular
                          questions:
                            - question: 3min step test
                              score: "130"
                              remark: Good
                              scoreUnit: Beats/min
                              _id: 65682a3290aaf5249f37e904
                          _id: 65682a3290aaf5249f37e903
                        - title: Muscular endurance
                          questions:
                            - question: Max Pushups
                              score: "130"
                              remark: Good
                              scoreUnit: reps
                              _id: 65682a3290aaf5249f37e906
                            - question: Max Squat
                              score: "130"
                              remark: Good
                              scoreUnit: reps
                              _id: 65682a3290aaf5249f37e907
                            - question: Max Curl up
                              score: "10"
                              remark: Average
                              scoreUnit: reps
                              _id: 65682a3290aaf5249f37e908
                          _id: 65682a3290aaf5249f37e905
                      date: "2023-11-30T00:00:00.000Z"
                      user: 653a998543998c3f1a6cebef
                      createdAt: "2023-11-30T06:22:42.993Z"
                      updatedAt: "2023-11-30T06:22:42.993Z"
                  total: 1
                status: Ok
                message:
                  code: FitnessAssessmentListSuccess
  /api/v1/leaves:
    post:
      tags:
        - Leaves
      summary: Add leaves
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                from: "2023-11-18"
                to: "2023-11-22"
                reason: Out of station
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Leaves
      summary: Get applied leaves
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/leaves/{id}:
    delete:
      tags:
        - Leaves
      summary: Delete leave
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/widget/{id}:
    get:
      tags:
        - Widget
      summary: Get Widget detail
      security:
        - bearerAuth: []
      parameters:
        - name: Origin
          in: header
          schema:
            type: string
          example: https://crm.lipigo.com
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: 64fe0ec2222f91f6b5d47364
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/widget:
    get:
      tags:
        - Widget
[...]
